.container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 15vh;
    width: 100%;
    gap: 10px;
    padding: 0;
}

.logo {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-left: 100px;
    color: white;
    font-family: "Inter";
    font-size: 20px;
    font-weight:3200;
    gap: 5px;
}

.navbar {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: white;
    border-radius: 30px;
    padding-right: 20px;
    padding-left: 20px;
    gap: 40px;
    margin-right: 50px;
}

@media (max-width: 768px) {
    .container {
        flex-direction: column;
        height: auto;
        padding: 20px 0;
        gap: 20px;
    }

    .logo {
        margin-left: 0; /* Centrează logo-ul pe mobil */
    }

    .navbar {
        margin-right: 0;
        padding: 10px;
        gap: 20px;
        flex-wrap: wrap; /* Permite butoanelor să treacă pe rândul următor dacă e nevoie */
        justify-content: center;
    }
}

@media (max-width: 1024px) {
    .logo {
        margin-left: 40px; 
        font-size: 18px;
    }
    
    .navbar {
        margin-right: 20px;
        gap: 20px; /* Elementele de meniu stau mai aproape */
    }
}